*.pyc
dataset/cifar-10-batches-py
dataset/tianchi_SVHN
dataset/*
.DS_Store
.idea
*.ckpt
.ipynb_checkpoints
code/chapter03_object_detection_introduction/tiny_detector_demo/checkpoint.pth.tar
code/chapter03_object_detection_introduction/tiny_detector_demo/checkpoint_ssd300.pth.tar
